name: pytest

# Controls when the workflow will run
on:
  workflow_dispatch:
  
jobs:

  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Run tests
        run: pytest -v
    
  build: 
    runs-on: ubuntu-latest
    needs: pytest
    env: 
      GREETINGS: "Tjena"
      NAME: "Github Actions"
    steps:
      - name: Meddelanden
        run: | 
          echo "Greetings: $GREETINGS"
          echo "Namn: $NAME"
          echo "Repository: $GITHUB_REPOSITORY"
      - name: Secret
        run: echo "Min Secret är $MY_SECRET_NAME"
        env:
          MY_SECRET_NAME: ${{ secrets.MY_SECRET_NAME }}

  test:
    runs-on: ubuntu-latest
    needs: build
    env:
      TEST_GREETINGS: "Tja från testet"
    steps:
      - name: Visa meddelande
        run: |
          echo "Test körs"
          echo "Meddelande: $TEST_GREETINGS" 
